.dabba {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: inset -19px 20px 51px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 5px;
  }
  
  .dabba:hover {
    border: 1px solid rgb(75, 72, 72);
    transform: scale(1.05);
  }
  
  .dabba:active {
    transform: scale(0.95) rotateZ(2.7deg);
  }