*{
  font-family: Arial, Helvetica, sans-serif;
}

.player-2 {
  background-color: rgba(68, 68, 192, 0.723);
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Optional: make it take the full viewport height */
}

.left, .middle, .right {
  display: flex;
  flex-direction: column; /* To stack the 'Dabba' elements vertically */
}
/* 
.dabba {
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.dabba:hover{
  transform: scale(1.2);
} */
.dabba div{
  width: 40px;
  height: 40px;
}

.cross{
  background-image: url(./assets/redCross.png);
  z-index: 99;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.zero{
  background-image: url(./assets/blueO.png);
  z-index: 99;
  background-repeat: no-repeat;
  background-size: 40px 40px;

}

.player-1{
  background-color: rgba(206, 54, 54, 0.738);
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Optional: make it take the full viewport height */
}

@font-face {
  font-family: PoetsenOne;
  src: url(./assets/PoetsenOne-Regular.ttf);
}

